@page
@model Med_Star.Pages.Portal.Client.IndexModel
@{
}

<h2>Book Appointment</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.Date" class="control-label"></label>
                <input asp-for="Appointment.Date" class="form-control" />
                <span asp-validation-for="Appointment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Description" class="control-label"></label>
                <input asp-for="Appointment.Description" class="form-control" />
                <span asp-validation-for="Appointment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Type" class="control-label"></label>
                @*<select asp-for="Appointment.Type" class="form-control"></select>*@
                <select asp-for="Appointment.Type" asp-items="@Html.GetEnumSelectList<Med_Star.Models.AppointmentType>()" class="form-control"></select>
                <span asp-validation-for="Appointment.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

